---
title: My professionnal profil
---

<header id="banner">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="avatar">
							<%= image_tag "moi.jpg" , class:"img-circle" , width:300 %>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<h1 >Delphine Martinache</h1>
						<p>Dev front-end débutante.</p>
					</div>
				</div>
			</div>
</header>

	<div id="aboutme" class="text-center">
		<h1>ABOUT ME</h1>
		<p>Après 8 ans dans le service clients et la gestion des contrats d'assurance de personnes, je décide de quitter cet univers et me lancer dans le monde merveilleux du développement.</p>
		<p>Grâce aux cours du Wagon et aux développeurs qui m'entourent, me voilà parée pour une nouvelle vie de développeuse Front-end</p>
	</div>


	<div id="skills">
		<div class="container text-center">
			<h1>SKILLS</h1>
			<div class="row">
				<div class="col-lg-3 col-sm-6 col-xs-12">
					<h3>HTML</h3>
					<div class="html chart" data-percent="60">
  						<div class="tag">0</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12">
					<h3>CSS3</h3>
					<div class="css chart" data-percent="60">
  						<div class="tag">1</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12">
					<h3>JQUERY</h3>
					<div class="jquery chart" data-percent="20">
  						<div class="tag">2</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12">
					<h3>JavaScript</h3>
					<div class="js chart" data-percent="10">
  						<div class="tag">3</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12">
					<h3>Bootstrap</h3>
					<div class="boot chart" data-percent="81">
  						<div class="tag">4</div>
					</div>
				</div>
			</div>
		</div>		
	</div>


	<div id="projects" class="text-center">
			<h1>PROJECTS</h1>
	</div>






