---
title: My professionnal profil
---

<header id="banner">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="avatar">
							<%= image_tag "moi.jpg" , class:"img-circle" , width:300 %>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<h1 >Delphine Martinache</h1>
						<p>Dev front-end débutante.</p>
						<a href="#about-me" class="btn btn-primary">READ MORE</a>
					</div>
				</div>
			</div>
</header>
